@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  font-family: Poppins, sans-serif;
}

.container1{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1.8vh 15%;
  transition: all .45 ease;
  background-color: #1f1e1e;
  color: #fff;
}
@media (max-width: 613px){
  .container1{
    padding: 7px 7%;
  }
}
.anchor{
  align-items: center;
  display: flex;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 550;
}
@media (max-width: 613px){
  .anchor{
    font-size: 20px;
    visibility: hidden;
  }
}
@media (max-width: 414px){
  .anchor{
    font-size: 15px;
    visibility: hidden;
  }
}
.anchor:hover{
  text-decoration: none;
  color: rgb(239, 229, 213)
}
.nav {
  text-decoration: none;
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
}
.nav a{
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #fff;  
  font-weight: 500;
}
.nav a:hover{
  text-decoration: none;
  color: rgb(239, 229, 213);
  transition: .45s ease-in-out;
}
.icons i{
  font-size: 2rem;
  background-color: #555;
  color: #fff;
  border-radius: 50%;
  padding: 1.1rem;
  text-align: center;
  align-items: center;
}
@media (max-width: 613px){
  .nav a{
    font-size: 7px;
  }
  .icons i{
    font-size: 15px;
    padding: 4px;
    border-radius: 50%;
    visibility: hidden;
  }
}
@media (max-width: 414px){
  .nav a{
    font-size: 5px;
  }
  .icon i{
    font-size: 7px;
    padding: 2px;
    border-radius: 50%;
    visibility: hidden;
  }
}
.icons i:hover{
  background-color: rgb(239, 229, 213);
  color: #000;
  border: none;
  transition: .45s ease-in-out;
  cursor: pointer;
}

/* carousel */
.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-inner img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: grab;
  opacity: 0.95;
}
.carousel-inner h2{
  font-size: 9rem;
  padding-bottom: 2.5rem;
  box-shadow: 1.5rem rgb(228, 179, 99);
  text-shadow: 5px 5px rgb(228, 179, 99);
  align-items: center;
  text-align: center;
  color: #fff;
  cursor: grab;
}
.carousel-inner #heading{
  color: #fff;
 text-shadow: 5px 5px rgb(48, 177, 220);
 padding-bottom: 2.5rem;
 cursor: grab;
}
@media (max-width: 1164px){
  .carousel-inner h2{
    font-size: 7rem;
    box-shadow: 1.5rem rgb(228, 179, 99);
    text-shadow: 5px 5px rgb(228, 179, 99);
  }
  .carousel-inner #heading{
    font-size: 7rem;
    box-shadow: 1.5rem rgb(48, 177, 220);
    text-shadow: 5px 5px rgb(48, 177, 220);
  }
}
@media (max-width: 917px){
  .carousel-inner h2{
    font-size: 5rem;
    box-shadow: 1.2rem rgb(228, 179, 99);
    padding-bottom: 2.5rem;
    text-shadow: 4px 4px rgb(228, 179, 99);
  }
  .carousel-inner #heading{
    font-size: 5rem;
    box-shadow: 1.2rem rgb(48, 177, 220);
    text-shadow: 4px 4px rgb(48, 177, 220);
  }
}
@media (max-width: 750px){
  .carousel-inner h2{
    font-size: 4.2rem;
    box-shadow: 0.9rem rgb(228, 179, 99);
    text-shadow: 3px 3px rgb(228, 179, 99);
  }
  .carousel-inner #heading{
    font-size: 4.2rem;
    box-shadow: 0.9rem rgb(48, 177, 220);
    text-shadow: 3px 3px rgb(48, 177, 220);
  }
}
@media (max-width: 613px){
  .carousel-inner h2{
    font-size: 2rem;
    box-shadow: 0.5rem rgb(228, 179, 99);
    text-shadow: 2px 2px rgb(228, 179, 99);
    padding-bottom: 1.5rem;
  }
  .carousel-inner #heading{
    font-size: 2rem;
    box-shadow: 0.5rem rgb(48, 177, 220);
    text-shadow: 2px 2px rgb(48, 177, 220);
  }
}
@media (max-width:414px){
  .carousel-inner h2{
    font-size: 1.5rem;
    box-shadow: 0.5rem rgb(228, 179, 99);
    text-shadow: 2px 2px rgb(228, 179, 99);
    padding-bottom: 0.5rem;
  }
  .carousel-inner #heading{
    font-size: 1.5rem;
    box-shadow: 0.5rem rgb(48, 177, 220);
    text-shadow: 2px 2px rgb(48, 177, 220);
    padding-bottom: 0.5rem;
  }
}
.carousel-inner #btn{
  font-size: 2rem;
  font-weight: 500;
  border-radius: 4rem;
  padding-top: 3.2vh;
  padding-bottom: 3.2vh;
  margin-bottom: 390px;
  background-color: #333;
  color: #fff;
  padding-left: 4vw;
  padding-right: 4vw;
}
.carousel-inner #btn:hover{
  border: 2px solid rgb(228, 179, 99);
  background-color: linear-gradient(180deg, #333, #d8d5d5, #555);
  color: rgb(228, 179, 99);
  transition: .45s ease-in-out;
}
.carousel-inner #s_btn{
  font-size: 20px;
  font-weight: 500;
  border-radius: 50px;
  padding-top: 3.2vh;
  padding-bottom: 3.2vh;
  margin-bottom: 390px;
  background-color: #333;
  color: #fff;
  padding-left: 4vw;
  padding-right: 4vw;
}
@media (max-width: 1164px){
  .carousel-inner #btn{
    font-size: 2rem;
    border-radius: 4rem;
    padding-top: 3.2vh;
    padding-bottom: 3.2vh;
    margin-bottom: 200px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .carousel-inner #s_btn{
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    padding-top: 3.2vh;
    padding-bottom: 3.2vh;
    margin-bottom: 200px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media (max-width: 917px){
  .carousel-inner #btn{
    font-size: 16px;
    border-radius: 4rem;
    padding-top: 3.2vh;
    padding-bottom: 3.2vh;
    margin-bottom: 130px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .carousel-inner #s_btn{
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    padding-top: 3.2vh;
    padding-bottom: 3.2vh;
    margin-bottom: 130px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media (max-width: 750px){
  .carousel-inner #btn{
    font-size: 9px;
    border-radius: 4rem;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-bottom: 100px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .carousel-inner #s_btn{
    font-size: 9px;
    font-weight: 500;
    border-radius: 50px;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-bottom: 100px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media (max-width: 613px){
  .carousel-inner #btn{
    font-size: 5px;
    border-radius: 4rem;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-bottom: 60px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .carousel-inner #s_btn{
    font-size: 5px;
    font-weight: 500;
    border-radius: 50px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-bottom: 60px;
    background-color: #333;
    color: #fff;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media (max-width: 414px){
  .carousel-inner #btn{
    font-size: 3px;
    border-radius: 4rem;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 60px;
    background-color: #333;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .carousel-inner #s_btn{
    font-size: 3px;
    font-weight: 500;
    border-radius: 50px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 60px;
    background-color: #333;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
.carousel-inner #s_btn:hover{
  background-color: linear-gradient(180deg, #333, #d8d5d5, #555);
  color: rgb(48, 177, 220);
  transition: .45s ease-in-out;
  border: 1px solid rgb(48, 177, 220);
}


/* section__shop */

.shop__container{
  display: flex;
  justify-content: center;
}
.shop__box{
  display: flex;
  border: none;
  background-color: rgb(237, 235, 232);
  padding: 1.9rem;
  box-sizing: border-box;
  margin-top: 7vh;
  margin-left: 2.0vw;
  margin-right: 2.0vw;
 
}
.shop__box:hover{
  transform: translateX(5px) translateY(5px);
}
/* @keyframes cssAnimation {
  to {
      visibility: visible;
  }
} */

.img__container img{
  object-fit: cover;
  object-position: center;
  height: 220px;
  width: 300px;
  background: cover;
}
.shop__data{
  align-items: center;
  margin-top: 9vh;
  margin-left: 1.5vw;
  line-height: 0.011cm;
}
.shop__data span{
  font-size: 15px;
}
.shop__data h1{
  margin-bottom: 4vh;
  font-size: 25px;
  font-weight: 600;
  line-height: 0.15cm;
}
.shop__data a{
  background-color: #333;
  color: #fff;
  padding: 1.2vh 2.2vh;
  border-radius: 30px;
  border: #fff;
  text-decoration: none;
  line-height: 0.35cm;
}
@media (max-width: 500px){
  .shop__container{
    display: grid;
    justify-content: center;
  }
  .img__container img{
    object-fit: cover;
    object-position: center;
    height: 170px;
    width: 190px;
  }
  .shop__data span{
    font-size: 11px;
  }
  .shop__data h1{
    margin-bottom: 3vh;
    font-size: 18px;
    font-weight: 600;
    line-height: 0.25cm;
  }
  .shop__data{
    align-items: center;
    margin-top: 4vh;
    margin-left: 1.5vw;
    line-height: 0.011cm;
  }
  .shop__data a{
    padding: 1vh 2vh;
    border-radius: 30px;
    line-height: 0.35cm;
  }
}
@media (max-width: 400px){
  .shop__container{
    display: grid;
    justify-content: center;
  }
  .img__container img{
    object-fit: cover;
    object-position: center;
    height: 160px;
    width: 180px;
  }
  .shop__data span{
    font-size: 9px;
    margin-top: 100vh;
    line-height: 0.01cm;
  }
  .shop__data h1{
    margin-bottom: 3vh;
    font-size: 15px;
    font-weight: 600;
    line-height: 0.25cm;
  }
  .shop__data{
    align-items: center;
    margin-top: 4vh;
    margin-left: 1.5vw;
    line-height: 0.011cm;
  }
  .shop__data a{
    padding: 0.8vh 1.7vh;
    border-radius: 30px;
    line-height: 0.35cm;
  }
}
.shop__data a:hover{
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  transition: .45s ease-in-out;
  text-decoration: none;
  font-weight: 500;
}
/* 
latest--products */
.latest__products{
  margin-top: 6vh;
  text-decoration: none;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.latest__products h1{
  font-size: 1.8rem;
  border: none;
  background-color: rgb(237, 235, 232);
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  width: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;

}


/* 
section__category */

.category__data{
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}
.category__content{
  border: none;
  background-color: rgb(237, 235, 232);
  padding: 1.6vh 1vw;
  margin-left: 2.2vw;
  margin-right: 2.2vw;
  align-items: center;
  text-align: center;
  /* transform:  */
}
.category__content:hover{
  transform: translateX(5px) translateY(5px); 
}
.category__content img{
  height: 250px;
  width: 300px;
  object-fit: cover;
  object-fit: center;
}
.category__content h1{
  font-size: 25px;
  font-weight: 500;
}
.category__content p{
  font-size: 16px;
}
.category__content #btn_s{
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  background-color: #333;
  width: 100%;
  border-radius: 30px;
  color: #fff;
  border: none;
  outline: none;
}
.category__content #btn_s:hover{
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  transition: .45s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.category__content #s_btn{
  background-color: #333;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  width: 100%;
  border-radius: 30px;
  border: none;
  margin-top: 1vh;
}
.category__content #s_btn:hover{
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  transition: .45s ease-in-out;
  border: 1px solid #333;
  transition: .45s ease-in-out;
}
.category__content .icon{
  display: flex;
  justify-content: center;
  font-size: 17px;
  align-items: center;
  text-align: center;
  border: rgb(228, 179, 99);
  color: #fff;
  outline: rgb(228, 179, 99);
}
.category__content .star{
  display: flex;
  justify-content: center;
  color: rgb(228, 179, 99);
}
.category__content .s_icon{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (max-width: 500px){
  .category__data{
    display: grid;
    justify-content: center;
    margin-top: 3.5vh;
  }
  .category__content{
    display: grid;
    justify-content: center;
    margin-top: 7vh;
  }
  .category__content h1{
    font-size: 20px;
    font-weight: 500;
  } 
  .category__content p{
    font-size: 13px;
  }
  .category__content #btn_s{
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    width: 100%;
    border-radius: 30px;
  }
  .category__content #s_btn{
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    width: 100%;
    border-radius: 30px;
    margin-top: 0.7vh;
  }
  .category__content .icon{
    display: flex;
    justify-content: center;
    font-size: 13px;
  }  
  .category__content{
    padding: 1.5rem;
  }
  .category__content img{
    height: 190px;
    width: 240px;
    object-fit: cover;
    object-fit: center;
  }
}

/* section__about */

.about__container{
  background: url("./images/a1.jpg");
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  /* position: relative; */
}
.about__content{
  display: grid;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.img__containerr img{
  border-radius: 50%;
  height: 14vh;
  width: 7vw;
  align-items: center;
  margin-bottom: 2.2vh;
}
.about__content2{
  align-items: center;
  text-align: center;
  justify-items: center;

}
.about__content2 h3{
  font-size: 20px;
  font-family: Charm, sans-serif;
  font-weight: 600;
  line-height: 0.80cm;
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 55%;
}
.about__content2 p{
  margin-top: 2vh;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.about__content2 span{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 3vh;
}
@media (max-width: 500px){
  .about__container{
    height: 65vh;
    margin-top: 7vh;
    padding: 4rem;
  }
  .img__containerr img{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-bottom: 2.2vh;
  }
  .about__content2 h3{
    font-size: 18px;
    line-height: 0.60cm;
    width: 65%;
  }
  .about__content2 p{
    margin-top: 2vh;
    font-size: 15px;
    font-weight: 600;
  }
  .about__content2 span{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3vh;
  }
}
@media (max-width: 400px){
  .about__container{
    height: 65vh;
    margin-top: 7vh;
    padding: 4rem;
  }
  .img__containerr img{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-bottom: 2.2vh;
  }
  .about__content2 h3{
    font-size: 16px;
    line-height: 0.60cm;
    width: 65%;
  }
  .about__content2 p{
    margin-top: 2vh;
    font-size: 14px;
    font-weight: 600;
  }
  .about__content2 span{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3vh;
  }
}
/* footer */

#contact{
  background-color: #333;
  color: #fff;
  padding: 6vh 0px;
}
.container{
  text-decoration: none;
  align-items: center;
}
.footer__top{
  display: flex;
  justify-content: space-between;
}
.footer-top__box{
  display: grid;
  align-items: center;
  list-style: none;
  text-decoration: none;
  width: 25%;
}
.footer-top__box h3{
  font-size: 19px;
}
.footer-top__box a{
  font-size: 13px;
  text-decoration: none;
  line-height: 0.80cm;
  color: #d8d5d5;
}
.footer-top__box a:hover{
  color: rgb(239, 229, 213);
  text-decoration: none;
}
.footer-top__box .address{
  color: #d8d5d5;
}
@media (max-width:500px){
  #contact{
    padding: 4vh 0px;
  }
  .footer__top{
    display: grid;
    justify-content: space-around;
  }
  .footer-top__box{
    display: grid;
    width: 25%;
  }
  .footer-top__box h3{
    font-size: 16px;
  }
  .footer-top__box a{
    font-size: 12px;
    text-decoration: none;
    line-height: 0.80cm;
    color: #d8d5d5;
  }
  .footer-top__box .address{
    color: #d8d5d5;
    font-size: 12px;
    line-height: 0.80cm;
  }
 
}
/* goto__ */

.goto-top:link,
.goto-top:visited {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 5%;
  padding: 0px 5px;
  visibility: visible;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  animation: bounce 2s ease infinite;
  background: red;
}
.goto-top i{
  font-size: 50px;
  color: #fff;
}
.goto-top i:hover{
  text-decoration: none;
  list-style: none;
}
@keyframes bounce {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  0% {
    transform: scale(1);
  }
}
@media (max-width: 500px){
.goto-top i{
  font-size: 25px;
  color: #fff;
}
}
@media (max-width: 400px){
  .goto-top i{
    font-size: 20px;
  }
}


